{% extends 'base.html.twig' %}

{% block title %}Budgete{% endblock %}

{% block body %}

    <div class="jumbotron jumbotron-fluid">
        <div class="container">
            <h1 class="display-4">Welcome to Budgete!</h1>
            <p class="lead">Help yourself to track your expenses.</p>
            <hr class="my-4">
            <div class="my-3">
                <a class="btn btn-primary btn-lg" href="{{ path('app_login') }}">Login</a>
                <a class="btn btn-success btn-lg" href="{{ path('app_register') }}">Register</a>
            </div>
        </div>
    </div>

{% endblock %}