{% extends 'base.html.twig' %}

{% block title %}Hello {{ user.name ?: user.email }}{% endblock %}

{% block body %}

{% for item in recent %}
    <div>{{ dump(item) }}</div>
{% endfor %}

<section>
    <h2>Recent log</h2>
    {{ include('dashboard/_budget.html.twig', {recent: recent}) }}
</section>

{% endblock %}
